*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
  justify-content: center;
}

.content > .result {
  justify-content: flex-end;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.result__video-container {
 margin-bottom: 16px;
 position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: fill;
}

.content-details {
  display: flex;
  max-width: 400px;
}

.search-form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
font-family: 'Fira Sans Condensed', sans-serif;
font-size: 18px;
font-weight: 400;

}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.title > .content__accent {
  color: #545050;
}

.content__list-container {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
}


/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
/* Кастомный скроллбар END */

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 390px;
}

.content__list-item {
  padding: 0 3px 0 3px;
}

.content__list-item:last-child {
  padding-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
}

.content__list-item:focus {
  outline: none;
}


.content__list-item:focus-visible {
  outline: 1px solid #FFF;  
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald;
  text-transform: uppercase;
  
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content__video-card-description {
  display: -webkit-box;         
  -webkit-box-orient: vertical;   
  overflow: hidden;             
}

.content__video-card { 
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 195px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 


.search-form__textfield {
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  appearance: none;
  width: 225px;
  color: #FFF;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  padding: 1px;
}

input[type="checkbox"]:checked + span::after {
  content: '';
  display: block;
  width: 100%;    
  height: 100%;
  background-color: #FFF;
}

.search-form__label:hover {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;    
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 6px 0;
  width: 100%;
}

.search-form__submit-button {
    align-self: flex-end;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;   
}

.content__card-link {
  display: block;
}

.content__card-link_current{
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

